# Python virtual environments & cache
.venv/
project_gp_env/
__pycache__/
*.pyc

# acados & CasADi compiled C-code / artifacts
c_generated_code/
*.so
*.o
*.json
acados_solver_*.c
formula_student_thermal_twin_model/
formula_student_thermal_twin_cost/

# Data outputs
*.csv
data/logs/*.asc