nvidia-nvtx-cu12==12.8.90
aiofiles==25.1.0
six==1.17.0
GitPython==3.1.46
markdown-it-py==4.0.0
certifi==2026.1.4
nvidia-nccl-cu12==2.27.5
mpmath==1.3.0
tqdm==4.67.3
marshmallow==3.26.2
ml_dtypes==0.5.4
tornado==6.5.4
jax-cuda12-pjrt==0.9.0.1
jaxlib==0.9.0.1
opt_einsum==3.4.0
sympy==1.14.0
acados_template==0.5.1
networkx==3.6.1
nvidia-cufile-cu12==1.13.1.3
flax==0.12.4
gtsam==4.3a0
absl-py==2.4.0
psutil==7.2.2
watchdog==6.0.0
pyro-ppl==1.9.1
cuda-pathfinder==1.3.4
pillow==12.1.1
pyarrow==23.0.1
orbax-checkpoint==0.11.33
zipp==3.23.0
protobuf==6.33.5
nvidia-cuda-nvcc-cu12==12.9.86
jsonschema==4.26.0
MarkupSafe==3.0.3
wandb==0.25.0
tensorstore==0.1.81
rich==14.3.3
referencing==0.37.0
diskcache==5.6.3
orbax-export==0.0.8
contourpy==1.3.3
Cython==3.2.4
nvidia-cusolver-cu12==11.7.3.90
nvidia-curand-cu12==10.3.9.90
urllib3==2.6.3
wadler_lindig==0.1.7
botorch==0.17.0
toolz==1.1.0
jax==0.9.0.1
linear-operator==0.6
nvidia-cuda-cupti-cu12==12.8.90
filelock==3.24.3
streamlit==1.54.0
joblib==1.5.3
threadpoolctl==3.6.0
Pygments==2.19.2
wrapt==1.17.3
PyYAML==6.0.3
simplejson==3.20.2
idna==3.11
importlib_resources==6.5.2
humanize==4.15.0
numpy==2.3.5
nvidia-cuda-runtime-cu12==12.8.90
typing-inspect==0.9.0
matplotlib==3.10.8
annotated-types==0.7.0
tenacity==9.1.4
pydantic_core==2.41.5
requests==2.32.5
nvidia-cusparselt-cu12==0.7.1
textparser==0.24.0
click==8.3.1
nvidia-cudnn-cu12==9.10.2.21
attrs==25.4.0
pydeck==0.9.1
torch==2.10.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
crccheck==1.3.1
kiwisolver==1.4.9
mdurl==0.1.2
platformdirs==4.9.2
nvidia-cufft-cu12==11.3.3.83
nvidia-nvshmem-cu12==3.4.5
jsonschema-specifications==2025.9.1
multipledispatch==1.0.0
dataclasses-json==0.6.7
setuptools==82.0.0
tzdata==2025.3
smmap==5.0.2
mypy_extensions==1.1.0
toml==0.10.2
pyro-api==0.1.2
jaxtyping==0.3.9
jax-cuda12-plugin==0.9.0.1
scipy==1.17.0
sentry-sdk==2.53.0
cantools==41.1.1
etils==1.13.0
nvidia-nvjitlink-cu12==12.8.93
optax==0.2.6
plotly==6.5.2
pip==24.0
casadi==3.7.2
altair==6.0.0
cachetools==6.2.6
pyre-extensions==0.0.32
packaging==26.0
pydantic==2.12.5
typing_extensions==4.15.0
Deprecated==1.3.1
blinker==1.9.0
nvidia-cuda-nvrtc-cu12==12.8.93
Jinja2==3.1.6
gpytorch==1.15.1
cycler==0.12.1
cuda-bindings==12.9.4
narwhals==2.16.0
argparse-addons==0.12.0
uvloop==0.22.1
charset-normalizer==3.4.4
pandas==2.3.3
nvidia-cusparse-cu12==12.5.8.93
scikit-learn==1.8.0
fsspec==2026.2.0
fonttools==4.61.1
rpds-py==0.30.0
nvidia-cublas-cu12==12.8.4.1
bitstruct==8.22.1
chex==0.1.91
pytz==2025.2
triton==3.6.0
python-can==4.6.1
msgpack==1.1.2
gitdb==4.0.12
treescope==0.1.10
typing-inspection==0.4.2
